@font-face {
  font-family: 'Belwe';
  font-weight: bold;
  src: url('./fonts/belwe_bold.otf') format('otf');
  font-display: swap;
}

@font-face {
  font-family: 'NotoSans';
  font-weight: 900;
  src: url('./fonts/NotoSans-Black.ttf');
  font-display: swap;
}

html{
  font-family: 'NotoSans';
  font-weight: 900;
  font-size: 20px;
}

p {
  font-family: 'Belwe';
}

.App {
  /* font-family: 'Belwe'; */
  /* background-image: "./" */
  text-align: center;
  height: 100%;
  
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.searchBar{
  width: 60%;
  border: 1px solid rgb(214, 139, 120);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;

}

.input-container{
  padding-top: 20px;
}

.transition-opacity-bar{
  animation: fadeinOpacity1 1s ease-in-out;
}


@keyframes fadeinOpacity1 {
  0% {
    /* transform: translateY(300px); */
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}